<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Website</h1>

    {% for l in letters %}
        <p>{{l}}</p>
    {% endfor %}


    {% if 'Lucas' in students %}
        <p>Lucas' here</p>
    {% else %}
        <p>Lucas' here</p>
    {% endif %}

    {% if is_logged %}
        <p>LOGGED</p>
    {% else %}
        <p>NOT LOGGED</p>
    {% endif %}
</body>

</html>